
.new-line {
    white-space: pre-line;
}


.tab-menu button {
    background-color: #f2f2f2;
    border: none;
    border-top-right-radius: 20px;
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
    transition: 0.3s;
}

    .tab-menu button:hover {
        background-color: #ddd;
    }


/* Hide the tab content by default */
.tabcontent {
    display: none;
}

/* Style the tab content */
.tabcontent {
    padding: 20px;
    margin: 0px 0px 5px 0px;
    /*border: 1px solid #ccc;   */
}

    /* สีพื้นหลังของแท็บที่ถูกเลือก */
    .tabcontent.active {
        background-color: slategray;
    }

/* สีพื้นหลังของแท็บเมนู */
.tab-menu {
    color: white; /* กำหนดสีข้อความ */
}

    /* สีพื้นหลังของแท็บที่ถูกเลือก */
    .tab-menu .tablinks.active {
        background-color: slategray; /* กำหนดสีพื้นหลัง */
        color: white; /* กำหนดสีข้อความ */
    }



.checkboxlist {
    list-style: none;
    padding: 0;
}

    .checkboxlist label {
        /*display: block;*/
        /*margin-bottom: 5px;*/
        margin-left: 5px;
    }

    .checkboxlist input[type="checkbox"] {
        margin-right: 5px;
    }

